/*ajustes predeterminados (color secundario #110f29)
naranja: #e84e1b*/
:root {
  --color-principal: white;
  --color-secundario: #3c42eb;
  --color-texto: #181818;
  --color-fondo: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
/* organizacion de los paneles*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /*El header está encima y el contenido abajo */
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  min-height: 100vh;
}

/*seccion: paginas*/
/*por defecto las paginas no se ven*/
.Pagina {
  display: none;
  transform: translateX(100%);
}
/*formato predeterminado principal*/
.Pagina.visible {
  display: block;
  overflow-x: hidden;
  transform: translateX(0);
}
/*formato de pagina para iniciar sesion o registrarse*/
.Pagina.centrada {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
}

/*configuracion de la pantalla incial al entrar al sitio web y registrar usuario*/
#PaginaInicial {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-texto);
}

#PaginaInicial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--current-image);
  filter: blur(4px) brightness(0.7); /* Desenfoque y filtro azul */
  z-index: -1;
  transition: transform 1s ease-in-out;
}

#PaginaInicial::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%; /* Comienza fuera del contenedor */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--next-image);
  z-index: -2;
  transition: transform 1s ease-in-out;
}

#PaginaInicial.transition-active::before {
  transform: translateX(-100%);
}

#PaginaInicial.transition-active::after {
  transform: translateX(100%);
}

#PaginaRegistro {
  position: absolute;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--color-secundario);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#PaginaPrincipal {
  background-color: var(--color-fondo);
}
#IniciarSesion {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

#IniciarSesion h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

#IniciarSesion h2 {
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 0.5em;
}

#IniciarSesion input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s ease;
}

#IniciarSesion button {
  display: block; /* Convierte el botón en un elemento de bloque */
  margin: 0 auto; /* Centra horizontalmente */
  background: var(--color-secundario);
  color: var(--color-principal);
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#opcion-registro {
  text-align: center;
  align-items: center;
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
#opcion-registro h3 {
  font-size: 1em;
  margin-right: 0 1em;
  margin-top: 0.5em;
  margin-left: 2em;
}
#opcion-registro button {
  background-color: white;
  color: var(--color-secundario);
  border: none;
  cursor: pointer;
  border-radius: 0;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  display: block; /* Convierte el botón en un elemento de bloque */
  margin-left: 1em;
}

/*seccion: registrar Usuario*/
#Registrar {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  max-height: 620px;
}
#Registrar h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

.etiqueta {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

#Registrar input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s ease;
}

#btnRegistrar {
  display: block; /* Convierte el botón en un elemento de bloque */
  margin: 0 auto; /* Centra horizontalmente */
  background: var(--color-secundario);
  color: var(--color-principal);
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#opcion-ingresar {
  text-align: center;
  align-items: center;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}
#opcion-ingresar h3 {
  font-size: 1em;
  margin-right: 0 1em;
  margin-top: 0.5em;
}
#opcion-ingresar button {
  background-color: white;
  color: var(--color-secundario);
  border: none;
  cursor: pointer;
  border-radius: 0;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  display: block; /* Convierte el botón en un elemento de bloque */
  margin-left: 1em;
}

/*seccion: Proncipal*/
.Encabezado {
  padding: 20px;
  background: var(--color-fondo);
  box-shadow: 0 2px 4px hsl(0 4% 15% / 10%);
  width: 100%;
  position: relative;
  z-index: 10;
}

.productos {
  /* Los productos ocupan el espacio restante en el contenedor */
  padding: 20px;
  background: var(--color-secundario);
}

.carrito {
  width: 360px; /* Ancho fijo del carrito */
  background: var(--color-carrito);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
}

.wrapper {
  display: flex; /* Hace que los productos y el carrito estén en una fila */
  width: 95%;
  margin: 0 auto;
  transition: margin-right 0.3s ease-in-out;
  background-color: var(--color-principal);
}

/*seccion: boton y cuadro de busqueda*/
#cuadro-busqueda {
  margin: 1em 0;
}

#cuadro-busqueda input {
  background-color: var(--color-principal);
  width: 50%;
  margin-left: 1em;
  border-bottom: 2px solid var(--color-secundario);
  padding: 1em 0.3em;
}

#cuadro-busqueda input:focus {
  border-bottom-color: var(--color-secundario);
}

#btnBuscarP {
  padding: 1em 2em;
  margin-left: 1em;
  border-radius: 5px;
  background-color: var(--color-secundario);
  color: var(--color-principal);
}

/*oculta la "X" del cuadro de texto*/
input[type="search"]::-webkit-search-cancel-button {
  /* Oculta la X en Chrome/Safari */
  display: none;
}

/*seccion: botones de filtros*/
#btnCategoria {
  margin-left: 1em;
}

.btnCategoria {
  margin: 1em 0;
  border: 2px solid var(--color-secundario);
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: var(--color-secundario);
  cursor: pointer;
}

/*cambia el color del boton al estar activo*/
.active {
  background-color: var(--color-secundario);
  color: var(--color-principal);
}

/*esconde el cotenido de la pagina*/
.hide {
  display: none;
}

#btnPedidos {
  position: absolute;
  top: 2em;
  right: 380px;
  border: 2px solid var(--color-secundario);
  background-color: transparent;
  color: var(--color-secundario);
  cursor: pointer;
  padding: 1em 1em;
  border-radius: 10px;
  cursor: pointer;
}

/* boton de ver carrito con el icono */
.icono-carrito {
  position: absolute;
  top: 1em;
  right: 150px;
  background-color: var(--color-secundario);
  color: var(--color-principal);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  /* Animación */
}

#btnCerrarSesion {
  position: absolute;
  top: 1em;
  right: 25px;
  background-color: var(--color-secundario);
  color: var(--color-principal);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  /* Animación */
}
.icono-carrito:hover {
  background-color: var(--color-secundario);
  /* Cambia el color al pasar el mouse */
}

/* Icono dentro del contenedor */
.icono-carrito i {
  font-size: 24px;
}

/*configuracion inicial de todos los productos*/
#productos {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los productos se ajusten en varias filas si es necesario */
  gap: 2em;
  /* Espaciado uniforme */
  justify-content: center;
  /* Ajusta el espacio entre los productos */
  margin-right: 0px;
  z-index: 1;
}
#productos > div {
  flex: 1 0 1; /* Asegura que no colapsen */
  max-width: 18em; /*mantiene el maximo*/
  text-align: center;
}
.productos {
  padding: 20px;
  background: var(--color-secundario);
}
.carta {
  position: relative;
  background-color: var(--color-principal);
  max-width: 18em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5px;
  /*box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.15);*/
  transition: all 0.3s ease;
}

.carta:hover {
  border: 2px solid var(--color-secundario);
  /* Resalta con un borde*/
  transform: scale(1.05);
  /* Hace que el elemento crezca un poco */
  box-shadow: 1em 3em 3.5em rgba(1, 2, 68, 0.25);
  /* Incrementa la sombra */
}

.image-container {
  text-align: center;
}

img {
  max-width: 80%;
  width: 20em;
  height: 14em;
  object-fit: contain;
  height: 15;
}

.container {
  padding-top: 1em;
  color: black;
}

.container h5 {
  font-weight: 500;
}

@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
}
.container {
  max-height: 125px;
  gap: 2em;
}
.producto-nombre {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 2rem;
}
.producto-precio {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
/*boton para agregar al carrito por cada carta*/
.btn-carrito {
  position: absolute;
  bottom: 0px;
  /* Ajusta el espacio desde el borde inferior */
  right: 0px;
  /* Ajusta el espacio desde el borde derecho */
  background: var(--color-secundario);
  color: var(--color-principal);
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  /* Opcional: redondear esquinas */
  transition: all 0.3s ease;
}

.btn-carrito:hover {
  transform: scale(1.1);
}
/*tamaños de la carta*/
.carta {
  max-width: 15em;
  max-height: 25em;
  margin-top: 1em;
  flex: 1 1 calc(30% - 1em);
  max-width: calc(30% - 1em);
}

#productos {
  grid-template-columns: auto auto;
  transition: margin-right 0.3s ease;
  margin-top: 1%;
  margin-bottom: 2%;
}

/*Panel de carrito para ver los articulos*/
.panel-carrito {
  position: fixed;
  top: 0; /*quitar esto y ponerlo en 0*/
  right: 0rem;
  width: 360px;
  height: 100vh;
  background: var(--color-principal);
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transform: translateX(100%); /* Oculta fuera de la pantalla */
  transition: transform 0.3s ease; /* Animación para mostrar/ocultar */
}
.panel-carrito.visible {
  transform: translateX(0);
}
/*wrapper que contiene los productos, deja un margen si el carrito es visible*/
.wrapper.carrito-visible #productos {
  margin-right: 360px; /* Reserva espacio para el carrito */
}

.titulo-carrito {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.cerrar {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-secundario);
  position: absolute;
  top: 1rem;
  left: 10px;
}

.cerrar:hover {
  color: var(--color-secundario);
}
#cont-carrito {
  max-height: 450px; /* Ajusta la altura máxima del carrito */
  overflow-y: auto; /* Activa la barra de desplazamiento vertical */
  padding: 1rem;
  background-color: #fff;
  scrollbar-width: thin; /* Para navegadores que soportan scrollbar-width */
  scrollbar-color: var(--color-secundario) #f1f1f1; /* Personalización */
}

/* Personalización de la barra de desplazamiento */
#cont-carrito::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

#cont-carrito::-webkit-scrollbar-thumb {
  background: #888; /* Color de la barra */
  border-radius: 4px;
}

#cont-carrito::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color al pasar el ratón */
}

/*carta completa del articulo incluida la imagen*/
.carta-articulo {
  display: flex; /* Flexbox para alinear la imagen y detalles */
  align-items: center; /* Centra verticalmente los elementos */
  gap: 1rem; /* Espaciado entre los elementos */
  margin: 0.5rem;
  padding: 2px;
  height: 175px;
  width: 300px;
  max-height: 200px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.containedor-imagen {
  flex: 0 0 120px; /* Ancho fijo para la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
.imagen-articulo {
  max-width: 100%;
  max-height: 120px;
  object-fit: contain;
}
/*contenedor de nombre y detalles del articulo*/
.contenedor-articulo {
  flex: 1; /* Ocupa el resto del espacio disponible */
  display: flex;
  flex-direction: column; /* Los textos van en columna */
  justify-content: flex-start; /* Alineación al inicio */
  row-gap: 0.3rem; /* Espaciado entre los textos */
}
.articulo-nombre {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 1rem;
}
.articulo-precio {
  font-weight: 500;
}
.cantidad-eliminar-container {
  display: flex;
  gap: 50px; /* Espacio entre el input y el botón */
}

.articulo-cantidad {
  border: 1px solid var(--color-secundario);
  outline-color: var(--color-texto);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.eliminar-articulo {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-secundario);
  display: inline-flex;
  align-items: flex-end;
}

.titulo-total {
  display: flex;
  text-align: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.total-articulos {
  text-align: left;
  margin-left: 0.5em;
  font-size: 1rem;
  font-weight: 0;
}

#btnComprar {
  background-color: var(--color-secundario);
  color: var(--color-principal);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 25%;
  transition: background-color 0.3s ease;
}

#PaginaPedidos
{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-principal);
}
#PaginaCompra {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-principal);
}
.Pie{
  padding: 20px;
  background: var(--color-fondo);
  box-shadow: 4px 4px 4px hsl(0 4% 15% / 10%);
  width: 100%;
  position: absolute;
  bottom: 1rem;
}

/*seccion: detalles de la compra*/
#contenedor-total {
  display: flex;
  position: relative;
  gap: 1em;
  margin-left: 1em;
}

#contenedor-total h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
#btnCancelar {
  background-color: transparent;
  border: 2px solid var(--color-secundario);
  color: var(--color-texto);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
#btnConfirmar {
  background-color: var(--color-secundario);
  color: var(--color-principal);
  border: 2px solid var(--color-secundario);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*seccion: detalles de la compra*/
#contenedor-total {
  display: flex;
  position: relative;
  gap: 1em;
  margin-left: 1em;
}

.detalle
{
  display: block;
  position: relative;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
}

.titulo-pagina
{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#PaginaCompra table
{
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.tabla-articulos
{
  border-top-color: var(--color-secundario);
}

/*seccion: pedidos*/
#contenedor-pedidos
{
  max-height: 210px;
  margin: 2rem;
  overflow-y: auto;
}
#contenedor-detalle
{
  max-height: 210px;
  margin: 2rem;
  overflow-y: auto;
}
#btnVolver
{
  background-color: transparent;
  border: 2px solid var(--color-secundario);
  color: var(--color-texto);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

